{% extends 'base.html' %}
{% block title %}Main{%endblock%}

{% block content %}
    <div class="con">
        <div class="header_left">
            <h1 class="title">О swaten</h1>
            <p class="sub_title">Вспомогательный чит-клиент для Minecraft 1.12.2. Мы спокойно можем похвастаться нашей уникальностью, так как имеем новейшие визуализацию, обходы, обновления и многое другое. С нашим клиентом Вы можете не бояться потерять ресурсы на вашем любимом сервере, так как наши функции дают о себе знать. У нас нету ненужных функций, которые бы препятствовали вашей игре. У нас отличная оптимизация, поэтому чит запустится даже на древнейшем ПК. Хотелось бы добавить, что с нашим читом Вы всегда дадите отпор своим оппонентам. Приятной игры!</p>
            <br>
            <a href="#" class="button">Купить</a>
            <a href="https://vk.com/swatenclient" class="button">Подробнее</a>
        </div>

        <div class="header_right">
            <img src="/static/img/clickgui.png" alt="" class="img">
        </div>
    </div>
{% endblock %}